<!DOCTYPE html>
<!-- <html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head> -->
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Clientes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<script>
    function rowClicked(value) {
        location.href = "/cliente/" + value;
    }
</script>

<body>
    <div th:switch="${clientes}" class="content">
        <h2 th:case="null">Nenhum cliente ainda!</h2>
        <div th:case="*" class="container">
            <h1>Clientes</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <!-- <td th:text="${cliente.nome}" style="cursor: pointer"
                            onclick="rowClicked(this.getAttribute('cliente.id'))">
                        </td> -->
                        <td><a th:text="${cliente.nome}" th:href="@{/cliente/{id}(id=${cliente.id})}"></a>
                        </td>
                        <td th:text="${cliente.email}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-c">
                <button><a href="/cadastro">Adicione um novo cliente</a></button>
            </div>
        </div>
    </div>
</body>

</html>