<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Clientes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<script>
    function rowClicked(value) {
        location.href = "/cliente/" + value;
    }
</script>

<body>
    <div th:switch="${clientes}" class="content">
        <h2 th:case="null">Nenhum cliente ainda!</h2>
        <div th:case="*" class="container">
            <h1>Clientes</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td>
                            <a th:text="${cliente.nome}" th:href="@{/cliente/{id}(id=${cliente.id})}"></a>
                        </td>
                        <td th:text="${cliente.email}"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="btn-c"> -->
            <a href="/cadastro"><button>Adicionar um novo cliente</button></a>
            <a href="/produtos"><button>Visualizar lista de produtos</button></a>
            <!-- </div> -->
        </div>
    </div>
</body>

</html>