<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<script>
    function rowClicked(value) {
        location.href = "/produto/" + value;
    }
</script>

<body>
    <div th:switch="${produtos}" class="content">
        <h2 th:case="null">Nenhum produto ainda!</h2>
        <div th:case="*" class="container">
            <h1>Produtos</h1>
            <div style="margin-bottom: 15px;">
                <input type="radio" name="pesquisa" id="postgres" checked>
                <label for="postgres">postgres</label>
                <input type="radio" name="pesquisa" id="elasticsearch">
                <label for="elasticsearch">elasticsearch</label>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Preco</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td th:text="${produto.codigo}"></td>
                        <td>
                            <a th:text="${produto.nome}" th:href="@{/produto/{codigo}(codigo=${produto.codigo})}"></a>
                        </td>
                        <td th:text="${produto.descricao}"></td>
                        <td th:text="${produto.preco}"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="btn-c"> -->
            <a href="/cadastro_produto"><button>Adicionar um novo produto</button></a>
            <a href="/clientes"><button>Visualizar lista de clientes</button></a>
            <!-- </div> -->
        </div>
    </div>
</body>

</html>